#imageView{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin: 30px;
}

#List{
    border-collapse: collapse;
    border-width: 2px;
    border-radius: 50px;
    border-color: rgb(33, 153, 174);
    background-color:rgb(33, 153, 174) ;
    margin: 70px;
    padding: 50px;
}

#theading{
    font-size: 50px;
    color: white;
}